* { 
margin: 0; 
padding: 0; 
}

@font-face {
	font-family: "HelveticaNeueCyr-Bold";
	src: url(../HelveticaNeueCyr/HelveticaNeueCyr-Bold.otf);
}

@font-face {
	font-family: "HelveticaNeueCyr-Black";
	src: url(../HelveticaNeueCyr/HelveticaNeueCyr-Black.otf);
}

@font-face {
	font-family: "HelveticaNeueCyr-Medium";
	src: url(../HelveticaNeueCyr/HelveticaNeueCyr-Medium.otf);
}

@font-face {
	font-family: "HelveticaNeueCyr-Roman";
	src: url(../HelveticaNeueCyr/HelveticaNeueCyr-Roman.otf);
}

@font-face {
	font-family: "HelveticaNeueCyr-Light";
	src: url(../HelveticaNeueCyr/HelveticaNeueCyr-Light.otf);
}

a {
	cursor: pointer;
}

input[type="submit"] {
	cursor: pointer;
}

input:active, input:hover {
    outline: none;
}

/*header*/

.header {
	background-color: #f6f5f5;
	height: 100px;
	border-bottom: 1px solid #dbdada;
}

.headerposition {
	max-width: 930px;
	margin: 0px auto;
}

.headerleft {
	float: left;
}

.touch-login {
	font-family: "HelveticaNeueCyr-Roman";
	font-size: 18px;
	margin-left: 15px;
	text-decoration: none;
	color: #000;
	display: none;
}

.headerright {
	float: right;
	margin-top: 30px;
}

.logolink {
	padding: 13px 0px 40px 67px;
	background: url("../Images/logo.jpg") no-repeat 0 5px;
	text-decoration: none;
	color: #000;
	position: relative;
	top: 20px;
}

.F-C {
	font-family: "HelveticaNeueCyr-Black";
	font-size: 26px;
	font-style: italic;
}

.com {
	color: #f3a52c;
}

.Poiskkuryerov {
	font-family: "HelveticaNeueCyr-Light";
	margin-left: 65px;
	font-size: 14px;
}

 .logininput {
	border-radius: 3px;
	margin-left: 7px;
	color: #9f9f9f;
	height: 30px;
	font-size: 15px;
	font-family: "HelveticaNeueCyr-Light";
	width: 135px;
	border: 1px solid #e6e5e4;	
}

#login-button {
	background: linear-gradient(to bottom, #f8be59, #f4a214);
	color: #fff;
	font-family: "HelveticaNeueCyr-Medium";
	width: 100px;
	border: 1px solid #e7b051;
}

#login-button:hover {
	background: linear-gradient(to top, #f8be59, #f4a214);
}

.forgetpass {
	color: #f39e09;
	margin-left: 190px;
	font-size: 13px;
	font-family: "HelveticaNeueCyr-Light";
	text-decoration: none;
	border-bottom: 1px dotted #f39e09;
}

/*nav*/

.nav {
	background-color: #fff;
	height: 60px;
	max-width: 900px;
	margin: 0px auto; 
}

.menu li{
	list-style: none;
	display: inline;
}

.orange {
	font-family: "HelveticaNeueCyr-Roman";
	font-size: 18px;
	margin: 0px 12.5px 0px 12.5px;
	text-decoration: none;
	color: #000;
}

.orange:hover, .touch-menu:hover{
	color: #f39e09;
}

.touch-menu {
	font-family: "HelveticaNeueCyr-Roman";
	font-size: 18px;
	margin-left: 15px;
	text-decoration: none;
	color: #000;
	display: none;
}

/*first-image*/

.first-image {
	height: 600px;
	background: url("../Images/first-image.jpg") no-repeat center center;
	padding-top: 35px;
}

.square {
	text-align: center;
	padding-top: 20px;
	font-size: 38px;
	font-family: "HelveticaNeueCyr-Medium";
	margin: 0px auto;
	width: 770px;
	height: 100px;
	background: rgba(211, 211, 211, 0.4);
}

.triangle {
	margin: 0px auto;
	width: 0px;
	height: 0px;
	border-top: 20px solid #D3D3D3;
	border-left: 385px solid transparent;
	border-right: 385px solid transparent;
	opacity: 0.4;
}

.first-imageblockdivs {
	padding-top: 75px;
	max-width: 840px;
	margin: 0px auto;
	color: #fff;
	font-size: 24px;
	font-family: "HelveticaNeueCyr-Light";
	text-align: center;
}

.first-imageblock1 {
	width: 340px;
	height: 325px;
	float: left;
	border: 5px solid white;
}

.first-imageblock2 {
	width: 340px;
	height: 325px;
	float: right;
	border: 5px solid white;
}

.inblockhr {
	margin-left: 60px;
	color: #fff;
	size: 1px;
	width: 220px;
}

.boldf-i {
	font-family: "HelveticaNeueCyr-Medium";
}

.f-ilinehei {
	line-height: 43px;
}

.fiinput {
	height: 50px;
	width: 225px;
	color: #fff;
	font-size: 18px;
	font-family: "HelveticaNeueCyr-Medium";
}

#curier-button {
	background: linear-gradient(to bottom, #78cdff, #0f9cfe);
	border: 1px solid #314f6e;
}

#curier-button:hover {
	background: linear-gradient(to top, #78cdff, #0f9cfe);
}

#client-button {
	background: linear-gradient(to bottom, #f8be59, #f3a00d);
	border: 1px solid #c89138;
}

#client-button:hover {
	background: linear-gradient(to top, #f8be59, #f3a00d);
}

/*Work safely*/

.safeness {
	height: 110px;
	margin-top: 20px;
	background-color: #f6f5f5;
}

.safenessposition {
	max-width: 350px;
	margin: 0px auto;
	text-align: center;
}

.worksafely {
	font-size: 24px;
	font-family: "HelveticaNeueCyr-Light";
	position: relative;
	top: 10px;
}

.safehr {
	margin-left: 100px;
	border: 1.5px solid #dbdbdb;
	width: 150px;
	margin-top: 13px;
}

.moreabout {
	background: url("../Images/safeness.jpg") no-repeat left bottom;
	padding: 18px 0px 10px 45px;
	text-decoration: none;
	position: relative;
	top: 20px;
}

.moreabouttext {
	border-bottom: 2px dotted #00a33c;
	font-size: 18px;
	font-family: "HelveticaNeueCyr-Light";
	color: #00a33c;
}

/*Service by client`s or courier`s eyes*/

.byclientseyes {
	margin-top: 50px;
}

.bycourierseyes {
	margin-top: 50px;
}

.Servicebce {
	font-size: 24px;
	font-family: "HelveticaNeueCyr-Light";
	width: 390px;
	margin: 0px auto;
	background-color: #fff;
	text-align: center;
	position: relative;
	top: -17px;
}

.hrbce {
	border: 1.5px solid #55b8fe;
	}

.circlesposition {
	width: 970px;
	margin: 40px auto 0px auto;
}

.circleabsolute {
	display: inline-block;
	position: relative;
}

.arrow1 {
	position: absolute;
	right: -53px;
	top: 5px;
}

.arrow2 {
	position: absolute;
	right: -53px;
	bottom: 5px;
}

.circle {
	vertical-align: top;
	margin-left: 28px;
	width: 270px;
	height: 270px;
	border-radius: 135px;
	box-shadow: 0 0 30px #e0dcdc;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	border: 4px solid #e9e6e6;
	line-height: 25px;
	font-size: 16px;
	font-family: "HelveticaNeueCyr-Light";
	color: #727070;
}

.circleshat {
	height: 57px;
	font-size: 20px;
	font-family: "HelveticaNeueCyr-Medium";
	color: #fff;
	background-color: #33aafe;
	padding-top: 27px;
}

.circlestext {
	display: inline-block;
	padding-top: 25px;
}

.circlestext1 {
	padding-top: 50px;
}

.circleshr {
	border: 1px solid #55b8fe;
	width: 135px;
	margin-left: 75px;
}

/*second-image*/

.second-image {
	margin-top: 50px;
	height: 435px;
	background: url("../Images/second-image.jpg") no-repeat center center;
}

.textposition {
	width: 550px;
	margin: 0px auto;
	text-align: center;
	font-family: "HelveticaNeueCyr-Bold";
	color: #fff;
}

.Morethan {
	padding-top: 40px;
	font-size: 36px;
}

.previligies {
	padding-top: 20px;
	font-size: 24px;
}

.stepsposition {
	width: 900px;
	margin: 20px auto 0px auto;
}

.step {
	width: 170px;
	margin-right: 5px;
	vertical-align: top;
	display: inline-block;
	text-align: center;
	font-family: "HelveticaNeueCyr-Medium";
	color: #fff;
}

.step2 {
	width: 170px;
	margin-left: 50px;
	vertical-align: top;
	display: inline-block;
	text-align: center;
	font-family: "HelveticaNeueCyr-Medium";
	color: #fff;
}

.littlecircle {
	margin-left: 60px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: 2px solid #fff;
	font-size: 24px;
	line-height: 52px;
}

.steptext {
	padding-top: 20px;
	font-size: 18px;
}

.s-iinput {
	width: 225px;
	margin: 20px auto 0px auto;
}

#delivery {
	background: linear-gradient(to bottom, #f8be59, #f3a00d);
	border: 1px solid #c89138;
	font-size: 18px;
	font-family: "HelveticaNeueCyr-Medium";
	height: 50px;
}

#delivery:hover {
	background: linear-gradient(to top, #f8be59, #f3a00d);
}

/*third-image*/

.third-image {
	margin-top: 50px;
	height: 435px;
	background: url("../Images/third-image.jpg") no-repeat center center;
}

#becomecourier {
	background: linear-gradient(to bottom, #78cdff, #0f9cfe);
	border: 1px solid #314f6e;
}

#becomecourier:hover {
	background: linear-gradient(to top, #78cdff, #0f9cfe);
}

.stepsposition2 {
	width: 730px;
	margin: 20px auto 0px auto;
}

/*table*/

.Ourserviceyourhelper {
	margin-top: 50px;
}

.Ourservice {
	font-size: 24px;
	font-family: "HelveticaNeueCyr-Light";
	width: 690px;
	margin: 0px auto;
	background-color: #fff;
	text-align: center;
	position: relative;
	top: -17px;
}

.table {
	width: 820px;
	margin: 25px auto 0px auto;
}

.thead {
	height: 35px;
	background-color: #1cb1d7;
	color: #fff;
	font-size: 20px;
	font-family: "HelveticaNeueCyr-Medium";
	text-align: center;
	line-height: 35px;
}

.tr {
	height: 50px;
	border-bottom: 1px solid #d4d4d4;
	border-left:  1px solid #d4d4d4;
	border-right:  1px solid #d4d4d4;
	margin-bottom: 15px;
}

.trprelast {
	margin-bottom: 0px;
	border-bottom: none;
}

.td {
	display: inline-block;
	padding: 12px;
}

.tdleft {
	width: 265px;
}

.tdcenter {
	text-align: center;
	width: 200px;
	border-left: 60px;
}

.tdright {
	text-align: right;
	float: right;
}

.tablelink {
	font-size: 16px;
	font-family: "HelveticaNeueCyr-Light";
	text-decoration: none;
	color: #000;
	border-bottom: 1px dotted #000;
}

/*footer*/

.footer {
	height: 340px;
	margin-top: 330px;
	padding-top: 45px;
	background: url("../Images/footer.jpg") repeat center center;
	box-shadow: inset 0px 5px 8px 1px #000;
	font-family: "HelveticaNeueCyr-Medium";
}

.sna {
	border: none;
	display: inline-block;
	margin: 20px 5px 25px 0px;
}

.snimg {
	width: 48px;
	height: 48px;
}

.footerposition {
	width: 820px;
	margin: 0px auto;
}

.footerup {
	display: inline-block;
	margin-bottom: 40px;
}

.footerright {
	font-family: "HelveticaNeueCyr-Roman";
	float: right;
	width: 200px;
	font-size: 14px;
	color: #fff;
	margin-left: 150px;
	text-align: center;
}

.footerleft {
	font-family: "HelveticaNeueCyr-Roman";
	float: left;
	width: 470px;
}

.footerlink {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	line-height: 30px;
}

.footermenu {
	display: inline-block;
}

.footermenu1 {
	margin-right: 45px;
}

.footermenu2 {
	margin-left: 45px;
}

.footermenu li{
	list-style: none;
	margin-top: 3px;
}

.footerdown {
	text-align: center;
	line-height: 20px;
}

.hrfooter {
	border: 1px solid #3f434e;
	width: 640px;
	margin: 0px auto;
}

.footertext {
	font-family: "HelveticaNeueCyr-Roman";
	color: #fff;
	font-size: 14px;
}

.agreement {
	color: #fff;
	text-decoration: none;
}

.email {
	color: #fff;
	text-decoration: none;
}

