* { 
margin: 0; 
padding: 0; 
font-family: "HelveticaNeueCyr" sans-serif;
}

@font-face {
	font-family: "HelveticaNeueCyr";
	src: url(..\HelveticaNeueCyr\HelveticaNeueCyr.otf);
}

/*header*/

.header {
	background-color: #f6f5f5;
	height: 100px;
	border-bottom: 1px solid #dbdada;
}

.headerposition {
	width: 930px;
	margin: 0px auto;
}

.headerleft {
	float: left;
}

.headerright {
	float: right;
	margin-top: 30px;
}

.logolink {
	padding: 13px 0px 40px 67px;
	background: url("../Images/logo.jpg") no-repeat 0 5px;
	text-decoration: none;
	color: #000;
	position: relative;
	top: 20px;
}

.F-C {
	font-size: 26px;
	font-weight: 900;
	font-style: italic;
}

.com {
	color: #f3a52c;
}

.Poiskkuryerov {
	margin-left: 65px;
	font-size: 14px;
	font-weight: 300;
}

 .logininput {
	border-radius: 3px;
	margin-left: 7px;
	color: #9f9f9f;
	height: 30px;
	font-size: 15px;
	font-weight: 300;
	width: 135px;
	border: 1px solid #e6e5e4;	
}

#login-button {
	background: linear-gradient(to bottom, #f8be59, #f4a214);
	color: #fff;
	font-weight: 600;
	width: 100px;
	border: 1px solid #e7b051;
}

.forgetpass {
	color: #f39e09;
	margin-left: 190px;
	font-size: 13px;
	font-weight: 300;
	text-decoration: none;
	border-bottom: 1px dotted #f39e09;
}

/*nav*/

.nav {
	background-color: #fff;
	height: 60px;
	width: 900px;
	margin: 0px auto; 
}

.menu li{
	list-style: none;
	display: inline;
}

.orange {
	font-size: 18px;
	margin-left: 25px;
	text-decoration: none;
	color: #000;
}

.orange:hover {
	color: #f39e09;
}

/*first-image*/

.first-image {
	height: 600px;
	background: url("../Images/first-image.jpg") no-repeat center center;
	background-size: 100%;
}

.square {
	text-align: center;
	padding-top: 20px;
	font-size: 34px;
	font-weight: 500;
	margin: 0px auto;
	width: 710px;
	height: 100px;
	background: rgba(211, 211, 211, 0.4);
	position: relative;
	top: 35px;
}

.triangle {
	margin: 0px auto;
	width: 0px;
	height: 0px;
	border-top: 25px solid #D3D3D3;
	border-left: 355px solid transparent;
	border-right: 355px solid transparent;
	opacity: 0.4;
	position: relative;
	top: 35px;
}

.first-imageblockdivs {
	padding-top: 75px;
	width: 840px;
	margin: 0px auto;
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	text-align: center;
}

.first-imageblock1 {
	width: 340px;
	height: 325px;
	float: left;
	border: 5px solid white;
}

.first-imageblock2 {
	width: 340px;
	height: 325px;
	float: right;
	border: 5px solid white;
}

.inblockhr {
	margin-left: 60px;
	color: #fff;
	size: 1px;
	width: 220px;
}

.boldf-i {
	font-weight: 500;
}

.f-ilinehei {
	line-height: 43px;
}

.fiinput {
	height: 50px;
	width: 225px;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
}

#curier-button {
	background: linear-gradient(to bottom, #78cdff, #0f9cfe);
	border: 1px solid #314f6e;
}

#client-button {
	background: linear-gradient(to bottom, #f8be59, #f3a00d);
	border: 1px solid #c89138;
}

/*Work safely*/

.safeness {
	height: 110px;
	margin-top: 20px;
	background-color: #f6f5f5;
}

.safenessposition {
	width: 350px;
	margin: 0px auto;
	text-align: center;
}

.worksafely {
	font-size: 24px;
	font-weight: 300;
	position: relative;
	top: 10px;
}

.safehr {
	margin-left: 100px;
	border: 1.5px solid #dbdbdb;
	width: 150px;
	margin-top: 13px;
}

.moreabout {
	background: url("../Images/safeness.jpg") no-repeat left bottom;
	padding: 18px 0px 10px 45px;
	text-decoration: none;
	position: relative;
	top: 20px;
}

.moreabouttext {
	border-bottom: 2px dotted #00a33c;
	font-size: 18px;
	font-weight: 300;
	color: #00a33c;
}

/*Service by client`s or courier`s eyes*/

.byclientseyes {
	margin-top: 50px;
}

.bycourierseyes {
	margin-top: 50px;
}

.Servicebce {
	font-size: 24px;
	font-weight: 300;
	width: 390px;
	margin: 0px auto;
	background-color: #fff;
	text-align: center;
	position: relative;
	top: -17px;
}

.hrbce {
	border: 1.5px solid #55b8fe;
	}

.circlesposition {
	width: 970px;
	margin: 40px auto 0px auto;
}

.circle {
	margin-left: 28px;
	width: 270px;
	height: 270px;
	border-radius: 135px;
	box-shadow: 0 0 30px #e0dcdc;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	border: 4px solid #e9e6e6;
	line-height: 25px;
	font-size: 16px;
	font-weight: 300;
	color: #727070;
}

.circleshat {
	height: 57px;
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	background-color: #33aafe;
	padding-top: 27px;
}

.circlestext {
	display: inline-block;
	padding-top: 30px;
}

.circleshr {
	border: 1px solid #55b8fe;
	width: 135px;
	margin-left: 75px;
}

/*second-image*/

.second-image {
	margin-top: 50px;
	height: 435px;
	background: url("../Images/second-image.jpg") no-repeat center center;
	background-size: 100%;
}

.textposition {
	width: 550px;
	margin: 0px auto;
	text-align: center;
	font-weight: bold;
	color: #fff;
}

.Morethan {
	padding-top: 40px;
	font-size: 36px;
}

.previligies {
	padding-top: 20px;
	font-size: 24px;
}

.stepsposition {
	width: 1100px;
	margin: 20px auto 0px auto;
}

.step {
	width: 170px;
	margin-left: 40px;
	vertical-align: top;
	display: inline-block;
	text-align: center;
	font-weight: 500;
	color: #fff;
}

.littlecircle {
	margin-left: 60px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: 2px solid #fff;
	font-size: 24px;
	line-height: 52px;
}

.steptext {
	padding-top: 20px;
	font-size: 18px;
}

.s-iinput {
	width: 225px;
	margin: 20px auto 0px auto;
}

#delivery {
	background: linear-gradient(to bottom, #f8be59, #f3a00d);
	border: 1px solid #c89138;
	font-size: 18px;
	font-weight: 500;
	height: 50px;
}

/*third-image*/

.third-image {
	margin-top: 50px;
	height: 435px;
	background: url("../Images/third-image.jpg") no-repeat center center;
	background-size: 100%;
}

#becomecourier {
	background: linear-gradient(to bottom, #78cdff, #0f9cfe);
	border: 1px solid #314f6e;
}

.stepsposition2 {
	width: 680px;
	margin: 20px auto 0px auto;
}

/*table*/

.Ourserviceyourhelper {
	margin-top: 50px;
}

.Ourservice {
	font-size: 24px;
	font-weight: 300;
	width: 690px;
	margin: 0px auto;
	background-color: #fff;
	text-align: center;
	position: relative;
	top: -17px;
}

.table {
	width: 820px;
	margin: 25px auto 0px auto;
}

.thead {
	height: 35px;
	background-color: #1cb1d7;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	line-height: 35px;
}

.tr {
	height: 50px;
	border-bottom: 1px solid #d4d4d4;
	border-left:  1px solid #d4d4d4;
	border-right:  1px solid #d4d4d4;
	margin-bottom: 15px;
}

.trprelast {
	margin-bottom: 0px;
	border-bottom: none;
}

.td {
	display: inline-block;
	padding: 12px;
}

.tdleft {
	width: 265px;
}

.tdcenter {
	text-align: center;
	width: 200px;
	border-left: 60px;
}

.tdright {
	text-align: right;
	float: right;
}

.tablelink {
	font-size: 16px;
	font-weight: 300;
	text-decoration: none;
	color: #000;
	border-bottom: 1px dotted #000;
}